body {
	background-color: #009FFD;
}

article {
	margin: 0 auto;
	max-width: 700px;
}

img {
	border: 5px solid #FFA400;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
}

p {
	font-family: Kalam, cursive;
}

ul {
	font-family: Kalam, cursive;
}

#Title {
	font-size: 75px;
	font-family: Shrikhand, cursive;
}

h2 {
	font-family: Audiowide, cursive;
	font-size: 30px;
	text-align: center;
}

table {
	font-family: Kalam, cursive;
}

#HeaderLinkBar {
	padding: 10px;
	background-color: rgba(198, 228, 247, 0.5);
}

header {
	margin: -5px -5px 0px -5px;
	text-align: center;
	background: url("#");
	background-size: cover;
	background-position: center;
	padding: 20px 0px 0px 0px;
	color: #BF4E30;
}

h1 {
	font-family: Shrikhand, cursive;
	font-size: 45px;
	text-align: center;
}

#HeaderPicture {
	margin: 40px 0px 0px 0px;
	border-style: solid;
	border-width: 5px;
	border-color: #FFA400;
}

.HeaderLinks {
	display: inline;
	padding: 0px 10px 0px 10px;
}
